In [1]:
import pandas as pd
import numpy as np
from math import radians, cos, sin, asin, sqrt

In [2]:
listings_data = pd.read_csv('listings.csv.gz')

In [3]:
listings_data

,id,listing_url,scrape_id,last_scraped,name,description,neighborhood_overview,picture_url,host_id,host_url,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,10080,https://www.airbnb.com/rooms/10080,20210412154228,2021-04-13,D1 - Million Dollar View 2 BR,"Stunning two bedroom, two bathroom apartment. ...",NaN,https://a0.muscache.com/pictures/55778229/c2f7...,30899,https://www.airbnb.com/users/show/30899,...,9.0,10.0,9.0,18-476608,f,40,40,0,0,0.14
1,13358,https://www.airbnb.com/rooms/13358,20210412154228,2021-04-13,Monthly (or Longer ) Designer One Bedroom Down...,<b>The space</b><br />This suites central loca...,NaN,https://a0.muscache.com/pictures/c23bb7ef-e300...,52116,https://www.airbnb.com/users/show/52116,...,10.0,10.0,9.0,18-611603,f,1,1,0,0,3.27
2,13490,https://www.airbnb.com/rooms/13490,20210412154228,2021-04-13,Vancouver's best kept secret,This apartment rents for one month blocks of t...,"In the heart of Vancouver, this apartment has ...",https://a0.muscache.com/pictures/73394727/79d5...,52467,https://www.airbnb.com/users/show/52467,...,10.0,10.0,10.0,NaN,f,1,1,0,0,0.73
3,14267,https://www.airbnb.com/rooms/14267,20210412154228,2021-04-13,EcoLoft Vancouver,"The Ecoloft is located in the lovely, family r...",We live in the centre of the city of Vancouver...,https://a0.muscache.com/pictures/3646de9b-934e...,56030,https://www.airbnb.com/users/show/56030,...,9.0,10.0,9.0,21-156500,t,1,1,0,0,0.26
4,16254,https://www.airbnb.com/rooms/16254,20210412154228,2021-04-12,Close to PNE/Hastings Park and East Village,2 Bedroom garden level guest suite.(lower leve...,"Good Eats, Cute Shops and all the personality ...",https://a0.muscache.com/pictures/90623667/583c...,63238,https://www.airbnb.com/users/show/63238,...,10.0,10.0,9.0,19-162421,t,1,1,0,0,0.15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4294,49132295,https://www.airbnb.com/rooms/49132295,20210412154228,2021-04-13,Luxurious 3 Bedroom Unit With English Bay Views!,"Stunning large, modern, brand-new 3 bedroom an...",NaN,https://a0.muscache.com/pictures/d5f23f5b-f10b...,219146817,https://www.airbnb.com/users/show/219146817,...,NaN,NaN,NaN,NaN,f,5,5,0,0,NaN
4295,49138797,https://www.airbnb.com/rooms/49138797,20210412154228,2021-04-13,19-9-10 Private room,Private room in a new house with shared bathro...,NaN,https://a0.muscache.com/pictures/02048308-7b1f...,356993612,https://www.airbnb.com/users/show/356993612,...,NaN,NaN,NaN,21-107408,f,14,1,13,0,NaN
4296,49146266,https://www.airbnb.com/rooms/49146266,20210412154228,2021-04-13,Prime Coal harbour | Luxury Finishings,Welcome to this beautiful fully furnished Prim...,"Location, Location, Location! Steps from the S...",https://a0.muscache.com/pictures/ee697899-6185...,396405989,https://www.airbnb.com/users/show/396405989,...,NaN,NaN,NaN,NaN,f,1,1,0,0,NaN
4297,49148812,https://www.airbnb.com/rooms/49148812,20210412154228,2021-04-13,DT- Ocean View 1BD w/ Private Bathroom Kitchen...,Private one bedroom suite apartment in heart o...,"Heart of Downtown Vancouver , walking distance...",https://a0.muscache.com/pictures/02a2a9da-68e0...,88405999,https://www.airbnb.com/users/show/88405999,...,NaN,NaN,NaN,NaN,f,1,1,0,0,NaN
4298,49153995,https://www.airbnb.com/rooms/49153995,20210412154228,2021-04-13,New! High end clean condo downtown!,Incredible quiet and cozy high floor view suit...,Walk score 100%<br />Near everything downtown<...,https://a0.muscache.com/pictures/b0c385f0-c4b5...,188731233,https://www.airbnb.com/users/show/188731233,...,NaN,NaN,NaN,NaN,f,2,2,0,0,NaN

In [4]:
listings_data.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'name', 'description',
       'neighborhood_overview', 'picture_url', 'host_id', 'host_url',
       'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')

In [5]:
columns_needed = ['host_response_time', 'host_response_rate', 'host_acceptance_rate','host_is_superhost','host_listings_count', 'host_total_listings_count', 'host_identity_verified','neighbourhood_cleansed', 'property_type', 'room_type', 'accommodates', 'bedrooms', 'beds', 'amenities', 'price',   'minimum_nights', 'maximum_nights', 'maximum_nights_avg_ntm',  'availability_30', 'availability_60', 'availability_90','availability_365','number_of_reviews', 'review_scores_rating', 'review_scores_accuracy', 'review_scores_cleanliness', 'review_scores_checkin','review_scores_communication','review_scores_location','review_scores_value', 'reviews_per_month', 'latitude', 'longitude' ]

In [6]:
listings_data = listings_data[columns_needed]

In [7]:
listings_data['num_amenities'] = listings_data['amenities'].apply(lambda x: len(x)).astype('float64')
listings_data.drop('amenities', axis= 1, inplace = True)

<ipython-input-7-2c2faca00832>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  listings_data['num_amenities'] = listings_data['amenities'].apply(lambda x: len(x)).astype('float64')
/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [8]:
#Number of Null Values in each column
listings_data.isnull().sum()

host_response_time             1308
host_response_rate             1308
host_acceptance_rate           1200
host_is_superhost               129
host_listings_count             129
host_total_listings_count       129
host_identity_verified          129
neighbourhood_cleansed            0
property_type                     0
room_type                         0
accommodates                      0
bedrooms                        312
beds                             36
price                             0
minimum_nights                    0
maximum_nights                    0
maximum_nights_avg_ntm            0
availability_30                   0
availability_60                   0
availability_90                   0
availability_365                  0
number_of_reviews                 0
review_scores_rating            825
review_scores_accuracy          837
review_scores_cleanliness       837
review_scores_checkin           838
review_scores_communication     836
review_scores_location          837
review_scores_value             837
reviews_per_month               800
latitude                          0
longitude                         0
num_amenities                     0
dtype: int64

In [9]:
# remove all rows with any Null Value
listings_data = listings_data.dropna(how='any',axis=0)

In [10]:
listings_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2109 entries, 0 to 4285
Data columns (total 33 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   host_response_time           2109 non-null   object
 1   host_response_rate           2109 non-null   object
 2   host_acceptance_rate         2109 non-null   object
 3   host_is_superhost            2109 non-null   object
 4   host_listings_count          2109 non-null   float64
 5   host_total_listings_count    2109 non-null   float64
 6   host_identity_verified       2109 non-null   object
 7   neighbourhood_cleansed       2109 non-null   object
 8   property_type                2109 non-null   object
 9   room_type                    2109 non-null   object
 10  accommodates                 2109 non-null   int64
 11  bedrooms                     2109 non-null   float64
 12  beds                         2109 non-null   float64
 13  price                        2109 non-null   object
 14  minimum_nights               2109 non-null   int64
 15  maximum_nights               2109 non-null   int64
 16  maximum_nights_avg_ntm       2109 non-null   float64
 17  availability_30              2109 non-null   int64
 18  availability_60              2109 non-null   int64
 19  availability_90              2109 non-null   int64
 20  availability_365             2109 non-null   int64
 21  number_of_reviews            2109 non-null   int64
 22  review_scores_rating         2109 non-null   float64
 23  review_scores_accuracy       2109 non-null   float64
 24  review_scores_cleanliness    2109 non-null   float64
 25  review_scores_checkin        2109 non-null   float64
 26  review_scores_communication  2109 non-null   float64
 27  review_scores_location       2109 non-null   float64
 28  review_scores_value          2109 non-null   float64
 29  reviews_per_month            2109 non-null   float64
 30  latitude                     2109 non-null   float64
 31  longitude                    2109 non-null   float64
 32  num_amenities                2109 non-null   float64
dtypes: float64(16), int64(8), object(9)
memory usage: 560.2+ KB

In [11]:
from sklearn.preprocessing import LabelEncoder
lb_make = LabelEncoder()
listings_data['host_response_time'] = lb_make.fit_transform(listings_data['host_response_time'])
listings_data['host_is_superhost'] = lb_make.fit_transform(listings_data['host_is_superhost'])
listings_data['host_identity_verified'] = lb_make.fit_transform(listings_data['host_identity_verified'])
listings_data['neighbourhood_cleansed'] = lb_make.fit_transform(listings_data['neighbourhood_cleansed'])
listings_data['property_type'] = lb_make.fit_transform(listings_data['property_type'])
listings_data['room_type'] = lb_make.fit_transform(listings_data['room_type'])

In [12]:
listings_data['host_response_rate'].value_counts()

100%    1597
93%       82
90%       80
80%       33
0%        24
94%       24
99%       22
50%       20
97%       19
92%       16
96%       14
98%       14
89%       13
95%       13
67%       13
70%       12
91%       11
88%        9
75%        9
71%        8
83%        8
10%        8
20%        8
60%        6
17%        5
86%        5
82%        4
57%        3
81%        3
40%        2
73%        2
84%        2
87%        2
7%         2
18%        2
85%        2
30%        2
33%        2
79%        1
74%        1
65%        1
62%        1
22%        1
77%        1
72%        1
25%        1
Name: host_response_rate, dtype: int64

In [13]:
#convert % into numbers
listings_data['host_response_rate'] = listings_data['host_response_rate'].apply(lambda x: float(x.replace('%','')))
listings_data['host_acceptance_rate'] = listings_data['host_acceptance_rate'].apply(lambda x: float(x.replace('%','')))
listings_data['price'] = listings_data['price'].apply(lambda x: float(x.replace('$','').replace(',','')))

In [14]:
# listings_data['host_acceptance_rate'] = listings_data['host_acceptance_rate'].apply(lambda x: (x.replace('%',''))).astype(float64)

In [15]:
#ML PART

from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsRegressor

In [16]:
X = listings_data.drop('price',1)

In [17]:
X

,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_listings_count,host_total_listings_count,host_identity_verified,neighbourhood_cleansed,property_type,room_type,...,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,reviews_per_month,latitude,longitude,num_amenities
0,3,93.0,87.0,0,49.0,49.0,1,1,5,0,...,9.0,9.0,10.0,9.0,10.0,9.0,0.14,49.28872,-123.12046,462.0
1,1,100.0,57.0,1,1.0,1.0,1,21,5,0,...,9.0,10.0,9.0,10.0,10.0,9.0,3.27,49.28201,-123.12669,520.0
2,3,100.0,78.0,1,4.0,4.0,1,7,2,0,...,10.0,10.0,10.0,10.0,10.0,10.0,0.73,49.25622,-123.06607,914.0
8,3,100.0,0.0,0,2.0,2.0,1,12,21,2,...,9.0,8.0,10.0,10.0,10.0,9.0,0.96,49.26557,-123.09600,308.0
9,3,100.0,100.0,1,1.0,1.0,1,5,25,2,...,10.0,10.0,10.0,10.0,10.0,10.0,3.25,49.27569,-123.07057,611.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4242,3,100.0,100.0,0,2.0,2.0,1,9,9,0,...,7.0,10.0,8.0,8.0,10.0,10.0,2.00,49.22866,-123.03668,750.0
4244,3,100.0,100.0,0,1.0,1.0,1,1,2,0,...,10.0,10.0,10.0,10.0,10.0,10.0,1.00,49.27884,-123.10740,581.0
4253,3,100.0,100.0,0,0.0,0.0,0,2,5,0,...,10.0,10.0,10.0,10.0,10.0,10.0,2.00,49.28189,-123.10874,658.0
4260,3,100.0,100.0,0,2.0,2.0,1,12,9,0,...,10.0,10.0,10.0,10.0,10.0,10.0,1.00,49.25687,-123.11252,863.0
4285,3,100.0,100.0,0,1.0,1.0,1,11,27,2,...,10.0,10.0,10.0,10.0,10.0,10.0,2.00,49.21298,-123.11574,189.0

In [18]:
y = listings_data['price']

In [19]:
y

0       150.0
1        85.0
2       145.0
8        51.0
9        79.0
        ...
4242     58.0
4244    140.0
4253    117.0
4260     85.0
4285     75.0
Name: price, Length: 2109, dtype: float64

In [20]:
X_train, X_valid, y_train, y_valid = train_test_split(X, y)

In [21]:
model = KNeighborsRegressor(50)
model.fit(X_train, y_train)
print(model.score(X_valid, y_valid))

0.03311793672923835

In [22]:
model = RandomForestRegressor(100, max_depth=40)
model.fit(X_train, y_train)
print(model.score(X_valid, y_valid))

0.4063768894344515

In [23]:
from sklearn.ensemble import GradientBoostingRegressor
model = GradientBoostingRegressor()
model.fit(X_train, y_train)
print(model.score(X_valid, y_valid))

0.4058975114119048

In [24]:
listings_data

,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_listings_count,host_total_listings_count,host_identity_verified,neighbourhood_cleansed,property_type,room_type,...,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,reviews_per_month,latitude,longitude,num_amenities
0,3,93.0,87.0,0,49.0,49.0,1,1,5,0,...,9.0,9.0,10.0,9.0,10.0,9.0,0.14,49.28872,-123.12046,462.0
1,1,100.0,57.0,1,1.0,1.0,1,21,5,0,...,9.0,10.0,9.0,10.0,10.0,9.0,3.27,49.28201,-123.12669,520.0
2,3,100.0,78.0,1,4.0,4.0,1,7,2,0,...,10.0,10.0,10.0,10.0,10.0,10.0,0.73,49.25622,-123.06607,914.0
8,3,100.0,0.0,0,2.0,2.0,1,12,21,2,...,9.0,8.0,10.0,10.0,10.0,9.0,0.96,49.26557,-123.09600,308.0
9,3,100.0,100.0,1,1.0,1.0,1,5,25,2,...,10.0,10.0,10.0,10.0,10.0,10.0,3.25,49.27569,-123.07057,611.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4242,3,100.0,100.0,0,2.0,2.0,1,9,9,0,...,7.0,10.0,8.0,8.0,10.0,10.0,2.00,49.22866,-123.03668,750.0
4244,3,100.0,100.0,0,1.0,1.0,1,1,2,0,...,10.0,10.0,10.0,10.0,10.0,10.0,1.00,49.27884,-123.10740,581.0
4253,3,100.0,100.0,0,0.0,0.0,0,2,5,0,...,10.0,10.0,10.0,10.0,10.0,10.0,2.00,49.28189,-123.10874,658.0
4260,3,100.0,100.0,0,2.0,2.0,1,12,9,0,...,10.0,10.0,10.0,10.0,10.0,10.0,1.00,49.25687,-123.11252,863.0
4285,3,100.0,100.0,0,1.0,1.0,1,11,27,2,...,10.0,10.0,10.0,10.0,10.0,10.0,2.00,49.21298,-123.11574,189.0

In [27]:
def clean_amenities_data(amenities_data, amenities_required):

    #find unique amenities and the number of them to choose which are important for a traveller
    # print(amenities_data['amenity'].value_counts())

    #adapted from : https://www.kite.com/python/answers/how-to-filter-a-pandas-dataframe-with-a-list-by-%60in%60-or-%60not-in%60-in-python
    bool_series = amenities_data.amenity.isin(amenities_required)
    filtered_amenities_df = amenities_data[bool_series]
    filtered_amenities_df = filtered_amenities_df.drop(['timestamp','tags'], axis=1).dropna() # dropping unnecessary columns, and filter out NA values
    filtered_amenities_df.reset_index(inplace=True, drop=True)

    return filtered_amenities_df

In [28]:
# return a dictionary with number of amenities in a 1km radius of this lat and lon
def num_amenities(lat, lon, amenities_data_clean):
    distance = haversine_distance(amenities_data_clean, lon, lat)
    amenities_data_clean['distance'] = distance
    data_withinR = amenities_data_clean.loc[amenities_data_clean['distance'] < 1000].reset_index(drop=True)
    amenities_series = data_withinR.pivot_table(columns = ['amenity'], aggfunc='size')  # Counts # of amenities, type=pd.series
    amenities_dict = amenities_series.to_dict()# converts series to dict
    return amenities_dict
    

def ameneties_score(my_dict):
    
    num_different_amenities = len(my_dict)
    score = num_different_amenities * 10 
        
    for key in my_dict:
        if (my_dict[key] > 30):
            score+=30
        else:
            score+= my_dict[key]
    return score


#reference: https://stackoverflow.com/questions/4913349/haversine-formula-in-python-bearing-and-distance-between-two-gps-points
def haversine_distance(df, lon2, lat2):
    # convert decimal degrees to radians 
    lon1=np.radians(df['lon'])
    lat1=np.radians(df['lat'])
    lon2=np.radians(lon2)
    lat2=np.radians(lat2)
    # haversine formula 
    dlon = lon2 - lon1 
    dlat = lat2 - lat1 
    a = (dlat/2).apply(sin)**2 + (lat1).apply(sin) * cos(lat2) * (dlon/2).apply(sin)**2
    c = 2 * ((a).apply(sqrt).apply(asin)) 
    r = 6371 # Radius of earth in kilometers. Use 3956 for miles
    return c * r * 1000

In [30]:
amenities_data = pd.read_json('amenities-vancouver.json.gz', lines=True)
amenities_required = ['restaurant', 'fast_food', 'cafe','bank','atm','pharmacy','bicycle_rental','fuel','pub','bar','car_sharing','car_rental','clinic','doctors','hospital','ice_cream','fountain','theatre','police','bus_station']
amenities_data = clean_amenities_data (amenities_data, amenities_required)

In [31]:
#add a column for number of amenities nearby to each listing
listings_data['num_amenities_nearby'] = listings_data.apply(lambda x: num_amenities(x['latitude'], x['longitude'], amenities_data), axis = 1)

#add a column 'amenities_score' based on the number of different amenities nearby
listings_data['amenities_score'] = listings_data['num_amenities_nearby'].apply(lambda x : ameneties_score(x))

In [37]:
# listings_data = listings_data.drop('num_amenities_nearby',1)
listings_data

,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_listings_count,host_total_listings_count,host_identity_verified,neighbourhood_cleansed,property_type,room_type,...,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,reviews_per_month,latitude,longitude,num_amenities,amenities_score
0,3,93.0,87.0,0,49.0,49.0,1,1,5,0,...,9.0,10.0,9.0,10.0,9.0,0.14,49.28872,-123.12046,462.0,331
1,1,100.0,57.0,1,1.0,1.0,1,21,5,0,...,10.0,9.0,10.0,10.0,9.0,3.27,49.28201,-123.12669,520.0,409
2,3,100.0,78.0,1,4.0,4.0,1,7,2,0,...,10.0,10.0,10.0,10.0,10.0,0.73,49.25622,-123.06607,914.0,143
8,3,100.0,0.0,0,2.0,2.0,1,12,21,2,...,8.0,10.0,10.0,10.0,9.0,0.96,49.26557,-123.09600,308.0,296
9,3,100.0,100.0,1,1.0,1.0,1,5,25,2,...,10.0,10.0,10.0,10.0,10.0,3.25,49.27569,-123.07057,611.0,204
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4242,3,100.0,100.0,0,2.0,2.0,1,9,9,0,...,10.0,8.0,8.0,10.0,10.0,2.00,49.22866,-123.03668,750.0,111
4244,3,100.0,100.0,0,1.0,1.0,1,1,2,0,...,10.0,10.0,10.0,10.0,10.0,1.00,49.27884,-123.10740,581.0,360
4253,3,100.0,100.0,0,0.0,0.0,0,2,5,0,...,10.0,10.0,10.0,10.0,10.0,2.00,49.28189,-123.10874,658.0,369
4260,3,100.0,100.0,0,2.0,2.0,1,12,9,0,...,10.0,10.0,10.0,10.0,10.0,1.00,49.25687,-123.11252,863.0,258
4285,3,100.0,100.0,0,1.0,1.0,1,11,27,2,...,10.0,10.0,10.0,10.0,10.0,2.00,49.21298,-123.11574,189.0,100

In [42]:
listings_data.columns

Index(['host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_listings_count', 'host_total_listings_count',
       'host_identity_verified', 'neighbourhood_cleansed', 'property_type',
       'room_type', 'accommodates', 'bedrooms', 'beds', 'price',
       'minimum_nights', 'maximum_nights', 'maximum_nights_avg_ntm',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'number_of_reviews', 'review_scores_rating',
       'review_scores_accuracy', 'review_scores_cleanliness',
       'review_scores_checkin', 'review_scores_communication',
       'review_scores_location', 'review_scores_value', 'reviews_per_month',
       'latitude', 'longitude', 'num_amenities', 'amenities_score'],
      dtype='object')

In [51]:
cols = ['accommodates' , 'bedrooms' , 'beds', 'price', 'num_amenities', 'amenities_score' ]

In [52]:
listings_data = listings_data[cols]

In [53]:
X = listings_data.drop('price',1)
y = listings_data['price']
X_train, X_valid, y_train, y_valid = train_test_split(X, y)

In [54]:
knn = KNeighborsRegressor(50)
knn.fit(X_train, y_train)
print("Knn Score:",knn.score(X_valid, y_valid))

rf = RandomForestRegressor(100, max_depth=40)
rf.fit(X_train, y_train)
print("Random Forest Score:",rf.score(X_valid, y_valid))

gb =  GradientBoostingRegressor()
gb.fit(X_train, y_train)    
print("Gradient Boosting Score:",gb.score(X_valid, y_valid))

Knn Score: 0.08015813986459475
Random Forest Score: 0.3657864519292904
Gradient Boosting Score: 0.3918962315336473