In [110]:
import pandas as pd
import numpy as np
import re
from math import radians, cos, sin, asin, sqrt

def read_data():
    listings_data = pd.read_csv('listings.csv.gz')
    amenities_data = pd.read_json('amenities-vancouver.json.gz', lines=True)
    return listings_data, amenities_data


def clean_amenities_data(amenities_data, amenities_required):

    #find unique amenities and the number of them to choose which are important for a traveller
    # print(amenities_data['amenity'].value_counts())

    #adapted from : https://www.kite.com/python/answers/how-to-filter-a-pandas-dataframe-with-a-list-by-%60in%60-or-%60not-in%60-in-python
    bool_series = amenities_data.amenity.isin(amenities_required)
    filtered_amenities_df = amenities_data[bool_series]
    filtered_amenities_df = filtered_amenities_df.drop(['timestamp','tags'], axis=1).dropna() # dropping unnecessary columns, and filter out NA values
    filtered_amenities_df.reset_index(inplace=True, drop=True)

    return filtered_amenities_df


#reference: https://stackoverflow.com/questions/4913349/haversine-formula-in-python-bearing-and-distance-between-two-gps-points
def haversine_distance(df, lon2, lat2):
    # convert decimal degrees to radians 
    lon1=np.radians(df['lon'])
    lat1=np.radians(df['lat'])
    lon2=np.radians(lon2)
    lat2=np.radians(lat2)
    # haversine formula 
    dlon = lon2 - lon1 
    dlat = lat2 - lat1 
    a = (dlat/2).apply(sin)**2 + (lat1).apply(sin) * cos(lat2) * (dlon/2).apply(sin)**2
    c = 2 * ((a).apply(sqrt).apply(asin)) 
    r = 6371 # Radius of earth in kilometers. Use 3956 for miles
    return c * r * 1000

def clean_listings_data2(listings_data, num_accomodates, num_bedrooms, max_price):
    #keep only the columns we need
    columns_needed = ['id', 'listing_url', 'name', 'description', 'picture_url', 'latitude', 'longitude', 'property_type', 'accommodates', 'bedrooms', 'beds', 'amenities', 'price', 'review_scores_value']
    listings_data = listings_data[columns_needed]

    pd.set_option('mode.chained_assignment', None)

    # Change price from str to float
    listings_data['price'] = listings_data['price'].apply(lambda x: float(x.replace('$','').replace(',','')))

    #filter based on accomodates, bedrooms and price requirements
    listings_data = listings_data.loc[(listings_data['price'] <= max_price) & (listings_data['accommodates'] >= num_accomodates) & (listings_data['bedrooms'] >= num_bedrooms)]

    if listings_data.empty:
        print("\nNo listings found with current filters, Change the filters and Try Again!!\n")
        exit()

    listings_data.reset_index(drop = True , inplace = True)

    return listings_data


def clean_listings_data(listings_data, accommodates_input, room_input, price_range_input, exact):
    #keep only the columns we need
    columns_needed = ['id', 'listing_url', 'name', 'description', 'picture_url', 'latitude', 'longitude', 'property_type', 'accommodates', 'bedrooms', 'beds', 'amenities', 'price',  'review_scores_value']
    listings_data = listings_data[columns_needed].copy()
    listings_data['price'] = listings_data['price'].apply(lambda x: x.replace(',','').replace('$','')).astype(float)
    
    pd.set_option('mode.chained_assignment', None)
    # extract price_range from string
    p_range = [float(s) for s in re.findall('[^-]?\d[\d.,]+', price_range_input)]
    min_price = p_range[0]
    max_price = p_range[1]
    
    bedrooms=listings_data['bedrooms']
    accommodates=listings_data['accommodates']
    if not exact:
        # find listing data with bedrooms >= room_input and accommodates >= accomodates_input
        listings_data = listings_data[(bedrooms >= room_input) & (accommodates >= accommodates_input)].reset_index(drop=True)
        listings_data = listings_data[(listings_data['price'] <= max_price) & (listings_data['price'] >= min_price)].reset_index(drop=True)
    
    else:
        # find listing data with bedrooms == room_input and accommodates == accomodates_input
        listings_data = listings_data[(bedrooms == room_input) & (accommodates == accommodates_input)].reset_index(drop=True)
        listings_data = listings_data[(listings_data['price'] <= max_price) & (listings_data['price'] >= min_price)].reset_index(drop=True)
    if listings_data.empty:
        print("Cannot find any listings with current filter, please try with other filters.\n")
        return
    
    
    
    return listings_data

def output_by_sort(listing_data):
    # sort by price in ascending order
    listings_by_price = listings_data.sort_values(by="price", ascending=True).reset_index(drop=True)

    # sort by review_scores_values in descending order, drop na scores(?)
    listings_by_rscore = listings_data.sort_values(['review_scores_value'], ascending=False).dropna().reset_index(drop=True)

    # output lowest_price listing, highest scored listing to another dataframe
    x = listings_by_rscore.head(1)
    x["result"] = "Best Scored"
    cols = list(x.columns)
    cols = [cols[-1]]+cols[:-1]
    x = x[cols]

    y = listings_by_price.head(1)
    y["result"] = "Best Valued"
    cols = list(y.columns)
    cols = [cols[-1]]+cols[:-1]
    y = y[cols]
    
    
    temp_output = pd.concat([x, y], axis=0, ignore_index=True)
    return temp_output

# return a dictionary with number of amenities in a 1km radius of this lat and lon
def num_amenities(lat, lon, amenities_data_clean):
    distance = haversine_distance(amenities_data_clean, lon, lat)
    amenities_data_clean['distance'] = distance
    data_withinR = amenities_data_clean.loc[amenities_data_clean['distance'] < 1000].reset_index(drop=True)
    amenities_series = data_withinR.pivot_table(columns = ['amenity'], aggfunc='size')  # Counts # of amenities, type=pd.series
    amenities_dict = amenities_series.to_dict()# converts series to dict
    return amenities_dict
    

def ameneties_score(my_dict):
    
    num_different_amenities = len(my_dict)
    score = num_different_amenities * 10 
        
    for key in my_dict:
        if (my_dict[key] > 30):
            score+=30
        else:
            score+= my_dict[key]
    return score


# def main():

#Read Data
listings_data, amenities_data = read_data()

# Change amenities here (updated the "restaurant" typo)
amenities_required = ['restaurant', 'fast_food', 'cafe','bank','atm','pharmacy','bicycle_rental','fuel','pub','bar','car_sharing','car_rental','clinic','doctors','hospital','ice_cream','fountain','theatre','police','bus_station']

# User Input
## get number of bedrooms and number of accommodates from user
room_input = 3
accommodates_input = 3
price_range_input= "16-10000"
exact = True

#Data Cleaning
amenities_data_clean = clean_amenities_data(amenities_data, amenities_required)
listings_data_clean = clean_listings_data(listings_data, accommodates_input, room_input, price_range_input, exact)

#add a column for number of amenities nearby to each listing
listings_data_clean['num_amenities_nearby'] = listings_data_clean.apply(lambda x: num_amenities(x['latitude'], x['longitude'], amenities_data_clean), axis = 1)


# # sort by price in ascending order
# listings_by_price = listings_data_clean.sort_values(by="price", ascending=True).reset_index(drop=True)

# # sort by review_scores_values in descending order, drop na scores(?)
# listings_by_rscore = listings_data_clean.sort_values(['review_scores_value'], ascending=False).dropna().reset_index(drop=True)

#     # sort by review_scores_values in descending order, drop na scores(?)
#     pr_byrscore=prange_listing.sort_values(['review_scores_value'], ascending=False).dropna().reset_index(drop=True)
#     pr_byprice
out = output_by_sort(listings_data_clean)
# # output lowest_price listing, highest scored listing to another dataframe
# x = listings_by_rscore.head(1)
# x["result"] = "Best Scored"
# cols = list(x.columns)
# cols = [cols[-1]]+cols[:-1]
# x = x[cols]

# y = listings_by_price.head(1)
# y["result"] = "Best Valued"
# cols = list(y.columns)
# cols = [cols[-1]]+cols[:-1]
# y = y[cols]

# temp_output = pd.concat([x, y], axis=0, ignore_index=True)
# temp_output
listings_by_price.head(1)
out

,result,id,listing_url,scrape_id,last_scraped,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,Best Valued,35322644,https://www.airbnb.com/rooms/35322644,20210412154228,2021-04-12,1 Bedroom w Private Bathroom & Balcony-10min t...,The suite is 15 min cab ride from YVR Airport ...,NaN,https://a0.muscache.com/pictures/b547af68-3df2...,35332085,...,10.0,10.0,9.0,19-251984,f,1,0,1,0,1.01

,result,id,listing_url,scrape_id,last_scraped,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,Best Valued,35322644,https://www.airbnb.com/rooms/35322644,20210412154228,2021-04-12,1 Bedroom w Private Bathroom & Balcony-10min t...,The suite is 15 min cab ride from YVR Airport ...,NaN,https://a0.muscache.com/pictures/b547af68-3df2...,35332085,...,10.0,10.0,9.0,19-251984,f,1,0,1,0,1.01

In [ ]:

#Read Data
listings_data, amenities_data = read_data()

# Change amenities here (updated the "restaurant" typo)
amenities_required = ['restaurant', 'fast_food', 'cafe','bank','atm','pharmacy','bicycle_rental','fuel','pub','bar','car_sharing','car_rental','clinic','doctors','hospital','ice_cream','fountain','theatre','police','bus_station']

#Data Cleaning
amenities_data_clean = clean_amenities_data(amenities_data, amenities_required)
listings_data_clean = clean_listings_data(listings_data)

#Return a dict of amenities:
lat_input = 49.225164  # sample lat input
lon_input = -123.003742  # sample lon input
hello=num_amenities(lat_input, lon_input, amenities_data_clean)

 #add a column for number of amenities nearby to each listing
listings_data_clean['num_amenities_nearby'] = listings_data_clean.apply(lambda x: num_amenities(x['latitude'], x['longitude'], amenities_data_clean), axis = 1)

In [ ]:
xx = haversine_distance2(amenities_data_clean, lon_input, lat_input)
xx

In [ ]:
# osm_data=amenities_data_clean.drop(['timestamp','tags'], axis=1).dropna()
amenities_data_clean

In [ ]:
lat = osm_data['lat']
lon = osm_data['lon']
osm_data['amenity'].unique()
clinic_coord = osm_data[osm_data['amenity']=='clinic']
clinic_coord

In [ ]:
np.radians(osm_data['lat']) # converts latitude to radians
np.radians(osm_data['lon']) # converts longitude to radians

In [ ]:
#TODO: Add a column to listings dataset:  
# each element with a dictionary of number of amenities in a 1km radius of a listing.

# example input


lat1=49.126141
lon1=-123.183341
# 
distance = haversine_distance(lon_posR, lat_posR, lon_input, lat_input)

distance2 = haversine_distance(lon_negR, lat_negR, lon_input, lat_input)

display(distance, distance2)

In [ ]:
#TODO: return a dictionary with number of amenities in a 1km radius of this lat and lon

# def num_amenities(lat, lon, amenities_data_clean, amenities_required):
#     amenities_dict = dict.fromkeys(amenities_required,0)

# lat + 1km
lat_input = 49.225164
lon_input = -123.003742
earth_radius=6371
m=(1/((2*pi/360)*earth_radius))/1000

lat_posR = lat_input+(1000*m)
lon_posR = lon_input+((1000*m)/cos(lat_input*(pi/180)))
lat_negR = lat_input-(1/6371)*(180/pi)
lon_negR = lon_input-(1/6371)*(180/pi)/cos(lat_input*pi/180)

display(lat_posR,lon_posR)

In [ ]:

origin_pair=(lat_input,lon_input)
type(origin_pair)

In [ ]:
from geopy import distance
print(distance.distance(origin_par,(lat1,lon1)))

In [ ]:
# osm_data['newlon']=lon_input-osm_data['lon']
# osm_data['newlat']=lat_input-osm_data['lat']
# osm_data['newlat']=osm_data['newlat']/2
# osm_data['newlat']=osm_data['newlat'].apply(np.sin)
# osm_data['newlat']=osm_data['newlat']**2

In [ ]:
def haversine_distance2(df, lon2, lat2):
    # convert decimal degrees to radians 
    lon1=np.radians(df['lon'])
    lat1=np.radians(df['lat'])
    lon2=np.radians(lon2)
    lat2=np.radians(lat2)
    # haversine formula 
    dlon = lon2 - lon1 
    dlat = lat2 - lat1 
    a = (dlat/2).apply(np.sin)**2 + (lat1).apply(np.sin) * cos(lat2) * (dlon/2).apply(np.sin)**2
    c = 2 * ((a).apply(sqrt).apply(asin)) 
    r = 6371 # Radius of earth in kilometers. Use 3956 for miles
    return c * r * 1000

In [ ]:
distance = haversine_distance2(osm_data, lon_input, lat_input)
osm_data['distance']=distance
data_withinR = osm_data.loc[osm_data['distance']<1000].reset_index(drop=True)
data_withinR

In [ ]:
num_of_amen=data_withinR.pivot_table(columns=['amenity'], aggfunc='size')  # Counts # of amenities, type=pd.series

num_of_amen.to_dict()# converts series to dict

In [ ]:
amenities_dict = dict.fromkeys(amenities_required,0)

In [ ]:
# #TODO: return a dictionary with number of amenities in a 1km radius of this lat and lon
def num_amenities(lat, lon, amenities_data_clean):
    distance = haversine_distance2(amenities_data_clean, lon, lat)
    osm_data['distance']=distance
    data_withinR = osm_data.loc[osm_data['distance']<1000].reset_index(drop=True)
    amenities_series=data_withinR.pivot_table(columns=['amenity'], aggfunc='size')  # Counts # of amenities, type=pd.series
    amenities_dict=amenities_series.to_dict()# converts series to dict
    return amenities_dict
#     amenities_dict = dict.fromkeys(amenities_required,0)

In [ ]:
hello=num_amenities(lat_input, lon_input, amenities_data_clean, amenities_required)
display(hello)

In [6]:
listings_data_clean

,id,listing_url,name,description,picture_url,latitude,longitude,property_type,accommodates,bedrooms,beds,amenities,price,review_scores_value,num_amenities_nearby
0,10080,https://www.airbnb.com/rooms/10080,D1 - Million Dollar View 2 BR,"Stunning two bedroom, two bathroom apartment. ...",https://a0.muscache.com/pictures/55778229/c2f7...,49.28872,-123.12046,Entire condominium,5,2.0,2.0,"[""Iron"", ""Dryer"", ""Bed linens"", ""Cooking basic...",$150.00,9.0,"{'atm': 1, 'bank': 21, 'bar': 9, 'bicycle_rent..."
1,13358,https://www.airbnb.com/rooms/13358,Monthly (or Longer ) Designer One Bedroom Down...,<b>The space</b><br />This suites central loca...,https://a0.muscache.com/pictures/c23bb7ef-e300...,49.28201,-123.12669,Entire condominium,2,1.0,1.0,"[""Iron"", ""Dryer"", ""Bed linens"", ""Cooking basic...",$85.00,9.0,"{'atm': 1, 'bank': 30, 'bar': 27, 'bicycle_ren..."
2,13490,https://www.airbnb.com/rooms/13490,Vancouver's best kept secret,This apartment rents for one month blocks of t...,https://a0.muscache.com/pictures/73394727/79d5...,49.25622,-123.06607,Entire apartment,2,1.0,1.0,"[""Iron"", ""Outdoor dining area"", ""Ethernet conn...",$145.00,10.0,"{'bank': 4, 'bicycle_rental': 7, 'cafe': 7, 'c..."
3,14267,https://www.airbnb.com/rooms/14267,EcoLoft Vancouver,"The Ecoloft is located in the lovely, family r...",https://a0.muscache.com/pictures/3646de9b-934e...,49.24922,-123.08139,Entire house,4,1.0,2.0,"[""Iron"", ""Dryer"", ""Cooking basics"", ""Hot water...",$140.00,9.0,"{'bank': 3, 'bicycle_rental': 2, 'cafe': 7, 'c..."
4,16254,https://www.airbnb.com/rooms/16254,Close to PNE/Hastings Park and East Village,2 Bedroom garden level guest suite.(lower leve...,https://a0.muscache.com/pictures/90623667/583c...,49.27721,-123.04086,Entire guest suite,4,2.0,3.0,"[""Iron"", ""Dryer"", ""Bed linens"", ""Cooking basic...",$195.00,9.0,"{'bank': 4, 'cafe': 6, 'doctors': 4, 'fast_foo..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4294,49132295,https://www.airbnb.com/rooms/49132295,Luxurious 3 Bedroom Unit With English Bay Views!,"Stunning large, modern, brand-new 3 bedroom an...",https://a0.muscache.com/pictures/d5f23f5b-f10b...,49.27391,-123.13012,Entire apartment,7,3.0,5.0,"[""Heating"", ""Essentials"", ""Kitchen"", ""Iron"", ""...",$500.00,NaN,"{'atm': 1, 'bank': 11, 'bar': 22, 'bicycle_ren..."
4295,49138797,https://www.airbnb.com/rooms/49138797,19-9-10 Private room,Private room in a new house with shared bathro...,https://a0.muscache.com/pictures/02048308-7b1f...,49.25275,-123.09184,Private room in house,2,1.0,1.0,"[""Heating"", ""Kitchen"", ""Fire extinguisher"", ""D...",$38.00,NaN,"{'atm': 1, 'bank': 4, 'bar': 5, 'bicycle_renta..."
4296,49146266,https://www.airbnb.com/rooms/49146266,Prime Coal harbour | Luxury Finishings,Welcome to this beautiful fully furnished Prim...,https://a0.muscache.com/pictures/ee697899-6185...,49.28631,-123.12455,Entire apartment,2,1.0,NaN,"[""Kitchen"", ""Body soap"", ""Shampoo"", ""Hot tub"",...",$160.00,NaN,"{'atm': 1, 'bank': 24, 'bar': 18, 'bicycle_ren..."
4297,49148812,https://www.airbnb.com/rooms/49148812,DT- Ocean View 1BD w/ Private Bathroom Kitchen...,Private one bedroom suite apartment in heart o...,https://a0.muscache.com/pictures/02a2a9da-68e0...,49.28822,-123.13061,Entire apartment,1,1.0,1.0,"[""Dryer"", ""Bed linens"", ""Elevator"", ""Paid park...",$66.00,NaN,"{'bank': 18, 'bar': 12, 'bicycle_rental': 31, ..."
4298,49153995,https://www.airbnb.com/rooms/49153995,New! High end clean condo downtown!,Incredible quiet and cozy high floor view suit...,https://a0.muscache.com/pictures/b0c385f0-c4b5...,49.27849,-123.12562,Entire condominium,2,NaN,0.0,"[""Ethernet connection"", ""Hot tub"", ""Dryer"", ""B...",$73.00,NaN,"{'atm': 1, 'bank': 22, 'bar': 26, 'bicycle_ren..."

In [27]:
## get number of bedrooms and number of accommodates from user
room_input = 3
accommodates_input = 3
# sort by price, review_scores
bedrooms=listings_data_clean['bedrooms']
accommodates=listings_data_clean['accommodates']

# find listing data with bedrooms >= room_input and accommodates >= accomodates_input
greater_listing=listings_data_clean[(bedrooms >= room_input) & (accommodates >= accommodates_input)].reset_index(drop=True)

# find listing data with bedrooms == room_input and accommodates == accomodates_input
exact_listing=listings_data_clean[(bedrooms == room_input) & (accommodates == accommodates_input)].reset_index(drop=True)

# get rid of $ symbol
exact_listing['price']=exact_listing['price'].apply(lambda x: x.replace(',','').replace('$','')).astype(float)
listings_data_clean['price']=listings_data_clean['price'].apply(lambda x: x.replace(',','').replace('$','')).astype(float)


# sort by price in ascending order
e_byprice=exact_listing.sort_values(by="price", ascending=True)

# sort by review_scores_values in descending order, drop na scores(?)
e_byrscore=exact_listing.sort_values(['review_scores_value'], ascending=False).dropna()

<ipython-input-27-cb58d25c71dc>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  listings_data_clean['price']=listings_data_clean['price'].apply(lambda x: x.replace(',','').replace('$','')).astype(float)

In [13]:
# find listing data with certain price range (min/max)
max_p = 165
min_p = 100

price = listings_data_clean['price']
# min_price = listings_data_clean[price >= min_p]
# max_price = listings_data_clean[price <= max_p]
prange_listing = listings_data_clean[(price <= max_p) & (price >= min_p)].reset_index(drop=True)

prange_listing

# sort by price in ascending order
pr_byprice=prange_listing.sort_values(by="price", ascending=True).reset_index(drop=True)

# sort by review_scores_values in descending order, drop na scores(?)
pr_byrscore=prange_listing.sort_values(['review_scores_value'], ascending=False).dropna().reset_index(drop=True)


listings_data = listings_data[(listings_data['price'] <= max_price) & (listings_data['price'] >= min_price)].reset_index(drop=True)

NameError: name 'listings_data_clean' is not defined

In [22]:
df=exact_listing.copy()
listings_data_clean['price'].apply(type)

0       <class 'str'>
1       <class 'str'>
2       <class 'str'>
3       <class 'str'>
4       <class 'str'>
            ...
4294    <class 'str'>
4295    <class 'str'>
4296    <class 'str'>
4297    <class 'str'>
4298    <class 'str'>
Name: price, Length: 4299, dtype: object

In [15]:
price_range_input= "16-50"

import re
sentence = 'Extract 100 , 100.45 and 10000 from this string'
# re.findall(r'\w+(?:-\w+)+',text)

# extract price_range from string
price_range = [float(s) for s in re.findall('[^-]?\d[\d.,]+', price_range_input)]
min_price=price_range[0]
max_price=price_range[1]
max_price
min_price
listings_data = listings_data[(listings_data['price'] <= max_price) & (listings_data['price'] >= min_price)].reset_index(drop=True)

NameError: name 'listings_data' is not defined

In [120]:
# if user wants more 
amenities_data.amenity.unique()

array(['cafe', 'fast_food', 'toilets', 'bbq', 'place_of_worship',
       'post_box', 'telephone', 'fuel', 'vending_machine', 'restaurant',
       'parking_entrance', 'pub', 'bicycle_parking', 'school', 'bench',
       'community_centre', 'waste_basket', 'pharmacy', 'dentist',
       'doctors', 'post_office', 'atm', 'childcare', 'parking',
       'public_building', 'bank', 'cinema', 'theatre', 'ferry_terminal',
       'bar', 'library', 'car_rental', 'drinking_water', 'shelter',
       'car_sharing', 'bicycle_rental', 'clinic', 'recycling',
       'public_bookcase', 'university', 'dojo', 'food_court',
       'seaplane terminal', 'arts_centre', 'ice_cream',
       'charging_station', 'car_wash', 'fountain', 'veterinary',
       'bicycle_repair_station', 'waste_disposal', 'photo_booth',
       'luggage_locker', 'bureau_de_change', 'parking_space', 'nightclub',
       'social_facility', 'taxi', 'bus_station', 'college',
       'construction', 'post_depot', 'nursery', 'clock', 'kindergarten',
       'conference_centre', 'shower', 'marketplace', 'hospital',
       'trolley_bay', 'fire_station', 'police', 'motorcycle_parking',
       'stripclub', 'gambling', 'compressed_air', 'family_centre',
       'townhall', 'music_school', 'bistro', 'playground', 'boat_rental',
       'meditation_centre', 'spa', 'scrapyard', 'language_school',
       'courthouse', 'events_venue', 'prep_school', 'healthcare',
       'cram_school', 'science', 'ATLAS_clean_room', 'workshop', 'safety',
       'lobby', 'animal_shelter', 'juice_bar', 'internet_cafe',
       'social_centre', 'vacuum_cleaner', 'smoking_area', 'EVSE',
       'studio', 'first_aid', 'ranger_station', 'storage_rental',
       'watering_place', 'lounge', 'trash', 'sanitary_dump_station',
       'disused:restaurant', 'water_point', 'Observation Platform',
       'housing co-op', 'driving_school', 'loading_dock', 'chiropractor',
       'monastery', 'storage', 'gym', 'payment_terminal', 'atm;bank',
       'park', 'biergarten', 'casino', 'Pharmacy',
       'waste_transfer_station', 'office|financial', 'hunting_stand',
       'money_transfer', 'shop|clothes', 'letter_box', 'training',
       'car_rep', 'research_institute', 'motorcycle_rental', 'leisure'],
      dtype=object)

In [96]:
# reference: https://developer.here.com/blog/getting-started-with-geocoding-exif-image-metadata-in-python3
from PIL import Image
from PIL.ExifTags import GPSTAGS

# input photo
X = "IMG_2503.jpg"

def get_exif(file):
    image = Image.open(file)
    image.verify()
    return image._getexif()

def get_geotag(exif):
    if not exif:
        raise ValueError("No EXIF data found")
    geotag = {}
    for(idx, tag) in TAGS.items():
        if tag == "GPSInfo":
            if idx not in exif:
                raise ValueError("No EXIF geotag found")
            for(key, val) in GPSTAGS.items():
                if key in exif[idx]:
                    geotag[val] = exif[idx][key]
    return geotag

def get_decimal_from_dms(dms, ref):

    degrees = dms[0]
    minutes = dms[1] / 60.0
    seconds = dms[2] / 3600.0

    if ref in ['S', 'W']:
        degrees = -degrees
        minutes = -minutes
        seconds = -seconds

    return round(degrees + minutes + seconds, 5)

def get_coordinates(geotags):
    lat = get_decimal_from_dms(geotags['GPSLatitude'], geotags['GPSLatitudeRef'])

    lon = get_decimal_from_dms(geotags['GPSLongitude'], geotags['GPSLongitudeRef'])

    return (lat,lon)

exif = get_exif(X)
geotags = get_geotag(exif)
print(get_coordinates(geotags))
x = get_coordinates(geotags)

(49.17173, -123.12624)

In [107]:
lat = x[0]
lon = x[1]

# listings_data_clean.apply(num_amenities(lat, lon, amenities_data_clean), axis = 1)
listings_d

,id,listing_url,name,description,picture_url,latitude,longitude,property_type,accommodates,bedrooms,beds,amenities,price,review_scores_value,num_amenities_nearby
0,10080,https://www.airbnb.com/rooms/10080,D1 - Million Dollar View 2 BR,"Stunning two bedroom, two bathroom apartment. ...",https://a0.muscache.com/pictures/55778229/c2f7...,49.28872,-123.12046,Entire condominium,5,2.0,2.0,"[""Iron"", ""Dryer"", ""Bed linens"", ""Cooking basic...",$150.00,9.0,"{'atm': 1, 'bank': 21, 'bar': 9, 'bicycle_rent..."
1,13358,https://www.airbnb.com/rooms/13358,Monthly (or Longer ) Designer One Bedroom Down...,<b>The space</b><br />This suites central loca...,https://a0.muscache.com/pictures/c23bb7ef-e300...,49.28201,-123.12669,Entire condominium,2,1.0,1.0,"[""Iron"", ""Dryer"", ""Bed linens"", ""Cooking basic...",$85.00,9.0,"{'atm': 1, 'bank': 30, 'bar': 27, 'bicycle_ren..."
2,13490,https://www.airbnb.com/rooms/13490,Vancouver's best kept secret,This apartment rents for one month blocks of t...,https://a0.muscache.com/pictures/73394727/79d5...,49.25622,-123.06607,Entire apartment,2,1.0,1.0,"[""Iron"", ""Outdoor dining area"", ""Ethernet conn...",$145.00,10.0,"{'bank': 4, 'bicycle_rental': 7, 'cafe': 7, 'c..."
3,14267,https://www.airbnb.com/rooms/14267,EcoLoft Vancouver,"The Ecoloft is located in the lovely, family r...",https://a0.muscache.com/pictures/3646de9b-934e...,49.24922,-123.08139,Entire house,4,1.0,2.0,"[""Iron"", ""Dryer"", ""Cooking basics"", ""Hot water...",$140.00,9.0,"{'bank': 3, 'bicycle_rental': 2, 'cafe': 7, 'c..."
4,16254,https://www.airbnb.com/rooms/16254,Close to PNE/Hastings Park and East Village,2 Bedroom garden level guest suite.(lower leve...,https://a0.muscache.com/pictures/90623667/583c...,49.27721,-123.04086,Entire guest suite,4,2.0,3.0,"[""Iron"", ""Dryer"", ""Bed linens"", ""Cooking basic...",$195.00,9.0,"{'bank': 4, 'cafe': 6, 'doctors': 4, 'fast_foo..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4294,49132295,https://www.airbnb.com/rooms/49132295,Luxurious 3 Bedroom Unit With English Bay Views!,"Stunning large, modern, brand-new 3 bedroom an...",https://a0.muscache.com/pictures/d5f23f5b-f10b...,49.27391,-123.13012,Entire apartment,7,3.0,5.0,"[""Heating"", ""Essentials"", ""Kitchen"", ""Iron"", ""...",$500.00,NaN,"{'atm': 1, 'bank': 11, 'bar': 22, 'bicycle_ren..."
4295,49138797,https://www.airbnb.com/rooms/49138797,19-9-10 Private room,Private room in a new house with shared bathro...,https://a0.muscache.com/pictures/02048308-7b1f...,49.25275,-123.09184,Private room in house,2,1.0,1.0,"[""Heating"", ""Kitchen"", ""Fire extinguisher"", ""D...",$38.00,NaN,"{'atm': 1, 'bank': 4, 'bar': 5, 'bicycle_renta..."
4296,49146266,https://www.airbnb.com/rooms/49146266,Prime Coal harbour | Luxury Finishings,Welcome to this beautiful fully furnished Prim...,https://a0.muscache.com/pictures/ee697899-6185...,49.28631,-123.12455,Entire apartment,2,1.0,NaN,"[""Kitchen"", ""Body soap"", ""Shampoo"", ""Hot tub"",...",$160.00,NaN,"{'atm': 1, 'bank': 24, 'bar': 18, 'bicycle_ren..."
4297,49148812,https://www.airbnb.com/rooms/49148812,DT- Ocean View 1BD w/ Private Bathroom Kitchen...,Private one bedroom suite apartment in heart o...,https://a0.muscache.com/pictures/02a2a9da-68e0...,49.28822,-123.13061,Entire apartment,1,1.0,1.0,"[""Dryer"", ""Bed linens"", ""Elevator"", ""Paid park...",$66.00,NaN,"{'bank': 18, 'bar': 12, 'bicycle_rental': 31, ..."
4298,49153995,https://www.airbnb.com/rooms/49153995,New! High end clean condo downtown!,Incredible quiet and cozy high floor view suit...,https://a0.muscache.com/pictures/b0c385f0-c4b5...,49.27849,-123.12562,Entire condominium,2,NaN,0.0,"[""Ethernet connection"", ""Hot tub"", ""Dryer"", ""B...",$73.00,NaN,"{'atm': 1, 'bank': 22, 'bar': 26, 'bicycle_ren..."

In [16]:
x = True
y = False

if x:
    print("hello")
if not y:
    print("wrong")

hello
wrong